html{
    background-color: rgb(224, 152, 144);
}

p{
    columns: 3;
    margin: 40px;
    column-rule: solid 2px red;
    
}

h1:hover{
    color: olive;
}

p::selection{
    background-color: black;
    color:whitesmoke
}

