html{
    background-color: #e6e6fa;
}

caption{
    color: black;
    text-decoration: solid;
    width:fit-content;
    background-color:#00bfff;
    margin-left: 240px;
}

table{
    width: 600px;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 5px solid black;
    background-color: #ffe4c4;
}

tbody td,tr{
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-collapse: collapse;
}

tfoot{
    background-color:#00bfff;
}